@CHARSET "UTF-8";
body{background: url(../image/login.JPG);}
label{
	color:red;
	font-size:80%;
}
td{
	font-size:90%;
	opacity:0.8;
}
#loginButton{
	width: 97px; 
	height: 30px;
	background: url(../image/button.png);
}
#code{
	display:inline-block;
	width:80px;
	height:25px;
	background-color:lightblue;
	vertical-align:middle;
	font-size:18px;
	letter-spacing:5px;
}